/*ged notification*/ 
.gd-notification{ 
    background: #E9ECEF; 
}
.add-listing-form{ 
    max-width: 900px;
    margin: 0 auto;
}
.add-listing-form label, input, select, li{ 
    font-family: 'work-sans', sans-serif !important;
}
.add-listing-form .select2{ 
    max-width: 900px !important;
}

.geodir-note { 
    font-family: 'work-sans', sans-serif !important;
}

.add-listing-form .geodir_button{ 
    color: white;
    background: #E9ECEF; 
    padding: 10px 10px;
}
.add-listing-form .geodir_preview_button{ 
    background: white; 
    color: #708393;
    border: 1px solid #708393;
    text-decoration: none;
}