

.geodir-entry-title a{ 
    color: #495a54 !important; 
    font-size: 20px;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
}
.geodir-entry-title a:hover{ 
    text-decoration: underline;
}
.geodir-field-business_hours>span {
    color: #495a54;
    font-size: 15px; 
    font-family: 'Work Sans', sans-serif !important;

}

.gd-list-rating-link{ 
    color: #495a54;
}

.geodir-field-address>span{ 
    font-size: 15px !important;
    font-family: 'Work Sans', sans-serif !important;

}
.gd-read-more{ 
    color: #495a54;
}

/*post content*/ 
.geodir-field-post_content{ 
    font-family: 'work sans', sans-serif;
}
/*save to board styling*/ 
.geodir-list-save-container {
    margin: 10px 0;
}

/*meta new*/ 
.gd-badge-meta-new{ 
    display: none;
}

/*card spacing*/ 
body ul.geodir-category-list-view.geodir-gridview.gridview_onethird>li {
    margin-bottom: 50px;
}
