.project-hero{ 
    width: 100% !important;
    height: 80vh !important;
}
.project-hero img{ 
    width: 100% !important;
    height: 80vh !important;
}
.project-hero li{ 
    height: 80vh;
}

/*title */ 
.project-header-section .header-middle-column{ 
    margin: 50px 0 !important;
}
.place-title .gd-list-item-left{
    display: none !important; 
}
.place-title .geodir-post-content-container{ 
    display: none;
}

.place-title .geodir-post-address-container{ 
    display: none; 
}
.place-title .gd-badge-meta-new { 
    display: none;
}
.place-title ul.geodir-category-list-view>li {
    padding: 0 !important;
    border-bottom: none;
    margin-bottom: 0 !important;
}
.place-title h2 a{ 
    text-decoration: none;
}
.place-title h2 a:hover{ 
    text-decoration: underline;
}
.place-title .gd-badge-meta i{ 
    font-size: 20px;
    border-radius: 0;
    padding: 3px;
}


.place-title .geodir-list-save-container { 
    display: none;
}
@media only screen and (max-width: 596px){ 
    .place-title .geodir-list-save-container { 
        margin-left: 0px;
    }
}

/*main content*/ 
.project-content>div{ 
    font-family:"work-sans", sans-serif;
}

/*gallery*/ 
