.project-hero{ 
    width: 100% !important;
    height: 80vh !important;
}
.project-hero img{ 
    width: 100% !important;
    height: 80vh !important;
}
.project-hero li{ 
    height: 80vh;
}

/*title */ 

.project-header-section .gd-list-item-left { 
    display: none !important;
}
.place-title span, .geodir-field-address, .geodir-field-post_content, .gd-badge-meta-new{ 
    display: none;
}
ul.geodir-category-list-view>li{ 
    border:none !important;
}
.place-title ul.geodir-category-list-view>li{
    padding: 0px !important;
}