.project-hero{ 
    width: 100% !important;
    height: 80vh !important;
}
.project-hero img{ 
    width: 100% !important;
    height: 80vh !important;
}
.project-hero li{ 
    height: 80vh;
}

/*title */ 
.project-detail-page .geodir_locations {
    height: 30px;
}
.project-detail-page .place-title h2 a {
    min-width: 300px;
    text-decoration: none;
    width: 500px;
}
.project-header-section .header-middle-column{ 
    margin: 50px 0 !important;
}
.place-title .gd-list-item-left{
    display: none !important; 
}
.place-title .geodir-post-content-container{ 
    display: none;
}

.place-title .geodir-post-address-container{ 
    display: none; 
}
.place-title .gd-badge-meta { 
    display: none;
}
.place-title ul.geodir-category-list-view>li {
    padding: 0 !important;
    border-bottom: none;
    margin-bottom: 0 !important;
}
.place-title h2 a{ 
    text-decoration: none;
}
.place-title h2 a:hover{ 
    text-decoration: underline;
}

/*trade info*/ 
.project-detail-page .trade-info-section .share-icon{ 
    margin: 10px 0; 
    font-family: 'work-sans', sans-serif;
}
/*main content*/ 
.project-content>div{ 
    font-family:"work-sans", sans-serif;
}
.project-detail-page .project-main-row{ 
    margin-top: -30px;
}

/*board loader*/ 
.project-detail-page .board-list .board-list-item{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

