.lity-container a{ 
    color: #E9ECEF;
}

.gd-list-action-add{ 
    background: #E9ECEF !important;
    font-weight: 500 !important;
}
.gd-badge-meta-save-to-a-new-design-board>div{ 
    background: #E9ECEF !important;
    font-size: 15px;
    font-weight: 500 !important;
    margin: 10px 0 0 0;
    letter-spacing: 1px;
    padding: 15px 10px;
}