.related-product-container .product-title{ 
    font-size: 20px;
}
.related-product-container .price{ 
    font-size: 20px;
}
.related-product-container .margin-elements{ 
    margin: 0;
}
.related-product-container .lay-buy{ 
    display: none;
}
.related-product-container{ 
    padding: 0;
}
