.bc-subnav__list{ 
    justify-content: center;
    margin: 40px 0;
}
.bc-subnav__list-item{ 
    margin:2px;
}

/*current selected page*/ 
.bc-subnav__list-item--current a{ 
    box-shadow: inset 5px 5px 10px #333;
}
/*remove space between list item*/
.bc-subnav__list-item+.bc-subnav__list-item { 
    margin-left:0; 
}

.bc-subnav__list a{ 
    background-color: #708393; 
    padding: 10px 20px; 
    color: #EFEAE5 !important;
    font-family: 'Playfair Display', serif;
}

/*wishlist page*/
.bc-link {
    color: #708393 !important;
}
 .bc-wish-list-btn--new{ 
    color: white !important; 
    background: #708393 !important; 
}

/*register area*/ 
.bc-account-login__register-list li { 
    font-family: 'work sans', sans-serif !important;
}
/*order history*/ 
.bc-order__link a{ 
    color: #708393;
}

/*log in page*/ 
.button-primary{ 
    background-color: #708393 !important;
    color: #EFEAE5;
}
.bc-btn--register{
    color: #EFEAE5;
    background-color:#708393 !important;
}
.bc-account-login__form-inner a{ 
color: #708393 !important;
}

/*account profile area*/ 
.bc-btn--account{ 
    background-color: #708393 !important ;
    font-family: 'Playfair Display', serif !important;
}

/*address area*/ 
.bc-account-addresses button{ 
    color: #708393 !important;
}

/*trade button*/ 
.bc-btn--register{ 
    margin-top: 10px;
}
.trade-login-btn{ 
    color: white !important;
}

