
.header{ 
    margin-bottom: 50px;
}
.top-banner{ 
    width: 100%; 
    padding: 10px 0; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-banner>div{ 
    margin: 0 20px;
}
.top-banner>div:hover{ 
    color: grey;
    cursor: pointer;
}
.beige-color-bc{ 
    background-color:#E9ECEF; 
}

.logo-container{ 
    padding: 20px 0 0 0;
}
.logo-container img{ 
    display: block; 
    margin: 0 auto;
}
.navbar ul{ 
    display: flex; 
    justify-content: space-around;
}
.navbar ul li{ 
    display: inline-block;
}
.navbar a{ 
    text-decoration-line: none;
    color: #3F3F3F;
    padding: 10px 20px;
    transition: 0.5s ease-in-out;
}
.navbar a:hover{ 
   color: black; 
}

/*login area*/ 
.login-area a{ 
    text-transform: capitalize;
}

/*my account navbar*/ 
.profile-trigger{ 
 position: relative; 
}
.my-account-nav{
    background-color: #E9ECEF;
    width: 150px;
    display: none;
    position: absolute;
    z-index: 1000;
}
.my-account-nav ul { 
    list-style: none;
}
.profile-name-value:hover{ 
    color: #525659;
}
.my-account-nav li a{ 
    padding: 10px 30px 10px 10px;
    display: block;
}

.my-account-nav li a:hover{ 
   color: #525659;
}

.my-account-nav a{ 
    text-decoration: none;
    color: #303030;
}

/*cart */ 
.shopping-cart a:hover{ 
    color: #525659;
}

/*wishlist */ 
.wishlist a:hover{ 
    color: #525659;
}
/*search bar*/ 
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #303030 !important;
    background-color: rgba(0,0,0,.75);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
